<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Henrique</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #222;
        }
        #content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }
        h1 {
            font-size: 3em;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.5em;
        }

        /* Estilos para o botão de alternância de idioma */
        .language-toggle {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
        }

        .toggle-button {
            background-color: transparent;
            color: white;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }

        /* Estilos para o conteúdo do site */
        #content.english {
            /* Estilos para a versão em inglês */
            color: #ffffff;
            /* ... outros estilos ... */
        }
        .content-english {
            display: none; /* Conteúdo em inglês inicialmente oculto */
        }

        /* Estilos para o conteúdo do site em inglês */
        #content .content-english {
            color: #ffffff;
            /* ... outros estilos ... */
        }
    </style>
</head>
<body>
    <div id="particles-js"></div>
    <div id="content">
        <div class="content-portuguese">
            <h1>Bem-vindo ao Meu Portifolio</h1>
        </div>
        <div class="content-english" style="display: none;">
            <h1>Welcome to My Portifolio</h1>
        </div>
    </div>
    
    
    <div id="language-toggle" class="language-toggle">
        <button id="toggle-button" class="toggle-button" onclick="toggleLanguage()">
            Português / English
        </button>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS("particles-js", {
            particles: {
                number: {
                    value: 80,
                    density: {
                        enable: true,
                        value_area: 800
                    }
                },
                color: {
                    value: "#ffffff"
                },
                shape: {
                    type: "circle",
                    stroke: {
                        width: 0,
                        color: "#000000"
                    },
                    polygon: {
                        nb_sides: 5
                    },
                    image: {
                        src: "img/github.svg",
                        width: 100,
                        height: 100
                    }
                },
                opacity: {
                    value: 0.5,
                    random: false,
                    anim: {
                        enable: false,
                        speed: 1,
                        opacity_min: 0.1,
                        sync: false
                    }
                },
                size: {
                    value: 3,
                    random: true,
                    anim: {
                        enable: false,
                        speed: 40,
                        size_min: 0.1,
                        sync: false
                    }
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 6,
                    direction: "none",
                    random: false,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: {
                        enable: false,
                        rotateX: 600,
                        rotateY: 1200
                    }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: {
                        enable: true,
                        mode: "repulse"
                    },
                    onclick: {
                        enable: true,
                        mode: "push"
                    },
                    resize: true
                },
                modes: {
                    grab: {
                        distance: 400,
                        line_linked: {
                            opacity: 1
                        }
                    },
                    bubble: {
                        distance: 400,
                        size: 40,
                        duration: 2,
                        opacity: 8,
                        speed: 3
                    },
                    repulse: {
                        distance: 100,
                        duration: 0.4
                    },
                    push: {
                        particles_nb: 4
                    },
                    remove: {
                        particles_nb: 2
                    }
                }
            },
            retina_detect: true
        });

        function toggleLanguage() {
            var contentElement = document.getElementById('content');
            var toggleButton = document.getElementById('toggle-button');
            var portugueseContent = contentElement.querySelector('.content-portuguese');
            var englishContent = contentElement.querySelector('.content-english');

            if (portugueseContent.style.display === 'none') {
                portugueseContent.style.display = 'block';
                englishContent.style.display = 'none';
                toggleButton.textContent = 'Português / English';
            } else {
                portugueseContent.style.display = 'none';
                englishContent.style.display = 'block';
                toggleButton.textContent = 'English / Português';
            }
        }

    </script>
</body>
</html>
